/* FondoAnimado.scss */
.fondo-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Para que esté detrás del contenido */
}

/* Ajusta el video para que ocupe toda la pantalla */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query para pantallas de 320px de ancho o menos*/
@media (max-width: 320px) {
  .fondo-video {
    /*Establece una imagen de fondo en lugar de un video */
    background-image: url('../../assets/images/6eb09c21685f6a985e410d9fcaafaf21');
    background-size: contain;
    width: 300;
    background-repeat: no-repeat;
    background-position: center;
    
  }


  .video {
    /* Oculta el video en pantallas pequeñas */
    display: none !important;
  }
}