/* FondoAnimado.scss */
.fondo-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Para que esté detrás del contenido */
  }
  
  /* Ajusta la imagen para que ocupe toda la pantalla */
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  