.nav-bar {
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;

    &__link {
        margin-right: 20px;
        padding: 15px;
        color: white;
        text-decoration: none;
        background-color: royalblue;
        border-radius: 10px;

    }

    :hover{
        background-color:cornflowerblue;
        transition: background-color 1s; 
    }

   
}



  
